.UCP {
    font-size: 24px;
}

.accountActions {
    padding-top: 20px;
}

.userLocation {
    font-size: 16px;
}

.labelsData {
    font-size: 16px;
}

label{
    padding-top:3px;
}

.huisnrLabel{
    padding-top: 7px;
}