.objectTime {
    font-size: 15px;
    font-weight: bold;
}

.objectBidsSet {
    /*margin-top: -15px;*/
    max-height: 357px;
}

.objectBids{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 295px;
    border-top: 1px #000 solid;
}

.objectName {
    color: #413a70;
}

.username{
    font-size: 14px;
    font-weight: bold;
    color: #413a70;
}

.objectDescription {
    min-height: 150px;
}