<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer><rewrite>
            <rules>
                <rule name="rule 1k">
                    <match url="^Ajax/([^/]+)/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/ajax.php?pg={R:1}&amp;ac={R:2}&amp;args={R:3}"  />
                </rule>
                <rule name="rule 2k">
                    <match url="^Static/?$"  />
                    <action type="Rewrite" url="/index.php?ac=main"  />
                </rule>
                <rule name="rule 3k">
                    <match url="^Static/([^/]+)/?$"  />
                    <action type="Rewrite" url="/index.php?ac={R:1}"  />
                </rule>
                <rule name="rule 4k">
                    <match url="^Static/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/index.php?ac={R:1}&amp;args={R:2}"  />
                </rule>
                <rule name="rule 5k">
                    <match url="^Kavel/?$"  />
                    <action type="Rewrite" url="/lots.php?ac=dashboard"  />
                </rule>
                <rule name="rule 6k">
                    <match url="^Kavel/([^/]+)/?$"  />
                    <action type="Rewrite" url="/lots.php?ac={R:1}"  />
                </rule>
                <rule name="rule 7k">
                    <match url="^Kavel/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/lots.php?ac={R:1}&amp;args={R:2}"  />
                </rule>
                <rule name="rule 8k">
                    <match url="^Rubriek/([^/]+)/?$"  />
                    <action type="Rewrite" url="/category.php?id={R:1}"  />
                </rule>
                <rule name="rule 9k">
                    <match url="^Pupil/?$"  />
                    <action type="Rewrite" url="/pupil.php?ac=dashboard"  />
                </rule>
                <rule name="rule 10k">
                    <match url="^Pupil/([^/]+)/?$"  />
                    <action type="Rewrite" url="/pupil.php?ac={R:1}"  />
                </rule>
                <rule name="rule 11k">
                    <match url="^Pupil/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/pupil.php?ac={R:1}&amp;args={R:2}"  />
                </rule>
                <rule name="rule 12k">
                    <match url="^Users/([^/]+)/?$"  />
                    <action type="Rewrite" url="/users.php?ac={R:1}"  />
                </rule>
                <rule name="rule 13k">
                    <match url="^Users/CP/([^/]+)/?$"  />
                    <action type="Rewrite" url="/users.php?ac={R:1}&amp;cp=true"  />
                </rule>
                <rule name="rule 14k">
                    <match url="^Users/CP/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/users.php?ac={R:1}&amp;args={R:2}&amp;cp=true"  />
                </rule>
                <rule name="rule 15k">
                    <match url="^Users/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/users.php?ac={R:1}&amp;args={R:2}"  />
                </rule>
                <rule name="rule 16k">
                    <match url="^Register/?$"  />
                    <action type="Rewrite" url="/register.php?ac=dashboard"  />
                </rule>
                <rule name="rule 17k">
                    <match url="^Register/([^/]+)/?$"  />
                    <action type="Rewrite" url="/register.php?ac={R:1}"  />
                </rule>
                <rule name="rule 18k">
                    <match url="^Register/([^/]+)/(.+)"  />
                    <action type="Rewrite" url="/register.php?ac={R:1}&amp;args={R:2}"  />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
